//Colors
$grey: #EEEEEE;
$light-grey: #f4f4f4;
$dark-grey: #666E80;
$yellow: #F0B200;
$light-yellow: #FFDB4D;

$green: #00A454;
$black: #000000;
$blue: #1990FE;
$white: #fff;
$red: #EB5757;
$orange: #F78C07;

$primary-yellow: #FDD900;
$secondary-yellow: #FFF6CB;

$primary-gray: #252524;
$secondary-gray: #9F9F9F;
$tertiary-gray: #E3E3E3;
$quaternary-gray: #F4F4F4;
