.categories {
    padding: 64px 0;
    background-color: $white;

    &__heading {
        margin: 0 0 48px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 24px;
        width: 206px;
        height: 206px;
        background-color: $tertiary-gray;
        transition: all .3s linear;

        &:hover {
            box-shadow: 0 4px 11px rgba($primary-gray, 0.35);
        }

        &_empty {
            justify-content: center;
            align-items: center;
            background-color: $primary-yellow;

            span {
                padding-right: 0;
                font-weight: bold;
                font-size: 20px;
                line-height: 22px;
                text-align: center;

                &::before {
                    display: none;
                }
            }
        }
    }

    &__item-descr {
        position: relative;
        display: block;
        width: 100%;
        padding-right: 24px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $black;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            background: url(/svg/components/categories/arrow-right.svg);
        }
    }

    &__item-img {
        margin-top: auto;
        margin-left: auto;
        max-width: 72px;
        max-height: 72px;
    }
}
